{% extends 'layout.html' %}

{% block content %}
<body>
    <h1>Editar Préstamo</h1>

    <form method="POST" action="{{ url_for('prestamos.editar_prestamo', id=prestamo.id) }}">
        <label for="fecha_devolucion">Fecha de Devolución:</label>
        <input type="date" id="fecha_devolucion" name="fecha_devolucion" value="{{ prestamo.fecha_devolucion }}">

        <button type="submit">Guardar cambios</button>
    </form>

    <a href="{{ url_for('prestamos.ver_todos_prestamos') }}">Volver a la lista</a>
    {% endblock %}
</body>
</html>
