a {
    user-select: none;  /* Previene la selección de texto */
    outline: none;      /* Elimina el contorno al hacer click */
  }
  
label{
    color: #ffffff;
    font-size: var(--heading-small);
}
body{
    background-color: var(--color-azul);

}
main#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
    max-width: 1350px;
    margin: 0 auto;
    background-color: var(--color-azul);
    
}


main#main h1 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #ffffff;
    text-align: center;
}


main#main .detalle-img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}


main#main p {
    font-size: 1.1em;
    color: #ffffff;
    line-height: 1.6;
    text-align: left;
    width: 100%;
}

main#main p strong {
    color: #0080ff; 
    margin-right: 5px;
}



main#main p:last-child {
    font-size: 1.2em;
    font-weight: bold;
    color: #e63946;
}

/* estrellas */
.rating {
    display: inline-flex;
    flex-direction: row-reverse;
    justify-content: center;
    user-select: none;
  }
  
  .rating input {
    display: none;
  }
  
  .rating label {
    position: relative;
    width: 1em;
    font-size: 2rem;
    color: #FFD700;
    cursor: pointer;
  }
  
  .rating label::before {
    content: "★";
    color: aliceblue;
    position: absolute;
    opacity: 1;
  }
  
  .rating label:hover:before,
  .rating label:hover ~ label:before {
    opacity: 1 !important;
    color: #FFD700;
  }
  
  .rating input:checked ~ label:before {
    opacity: 1;
    color: #FFD700;
    

  }
/* comentarios */
.comments-section {
    max-width: 768px;
    margin: 20px auto;
    background-color: var(--color-azul);
    border-radius: 8px;
    padding: 20px;
    width: 1200px;

}


.comments-section ul {
    list-style-type: none;
    padding: 0;
}

.comments-section li {
    background-color: var(--color-azul-marino);
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    min-height: 900px;
    max-width: 100%;
    min-height: 100px; 
    word-wrap: break-word; /* Evitar que el texto largo se desborde */
    overflow-wrap: break-word; /* Asegura que las palabras largas se dividan */
}


.comments-section li p {
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
}

.comments-section li p strong {
    color: #007BFF;
}

.comments-section li small {
    font-size: 12px;
    color: #777;
    align-self: flex-end;
}

.comments-section li form button {
    background-color: #FF4136;
    border: none;
    color: #fff;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    align-self: flex-end;
    margin-top: 10px;
}

.comments-section li form button:hover {
    background-color: rgb(255, 94, 0);
}

.comments-section p {
    text-align: center;
    color: #555;
    font-style: italic;
}
.comentariotextarea{
    width: 800px;
}

.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.estrella {
    font-size: 2rem;
    color: lightgray;
    cursor: pointer;
    position: relative;
}

.estrella.llenar {
    color: gold;
}

.estrella.mitad::before {
    content: '\2605'; /* La estrella dorada */
    color: gold;
    position: absolute;
    left: 0;
    width: 50%; /* Mostrar solo la mitad izquierda */
    overflow: hidden;
}

@media (max-width: 768px) {
    .linkedit{
        color: aliceblue;
        background-color: #28a745;
        border-radius: 30%;
        padding: 5px;
        
    }
    .comments-section {
        padding: 15px;
        max-width: 95%;
    }
    .comentariotextarea{
        width: 30em;
    }
}

@media (max-width: 600px) {
    main#main {
        padding: 10px;
    }

    main#main h1 {
        font-size: 1.8em;
    }

    main#main .detalle-img {
        max-width: 300px;
    }

    main#main p {
        font-size: 1em;
    }
    .filter-group{
        width: 205px;
    }
    .detalle-img{
        width: 150px;
        height: 200px;
    }
}
