label{
    color: #ffffff;
    font-size: var(--heading-small);
}
body{
    background-color: var(--color-azul);

}
main#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
    max-width: 1350px;
    margin: 0 auto;
    background-color: var(--color-azul);
    
}


main#main h1 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #ffffff;
    text-align: center;
}


main#main .detalle-img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}


main#main p {
    font-size: 1.1em;
    color: #ffffff;
    line-height: 1.6;
    text-align: left;
    width: 100%;
}

main#main p strong {
    color: #0080ff; 
    margin-right: 5px;
}



main#main p:last-child {
    font-size: 1.2em;
    font-weight: bold;
    color: #e63946;
}

/* estrellas */
.rating {
    display: inline-flex;
    flex-direction: row-reverse;
    justify-content: center;
  }
  
  .rating input {
    display: none;
  }
  
  .rating label {
    position: relative;
    width: 1em;
    font-size: 2rem;
    color: #FFD700;
    cursor: pointer;
  }
  
  .rating label::before {
    content: "★";
    color: aliceblue;
    position: absolute;
    opacity: 1;
  }
  
  .rating label:hover:before,
  .rating label:hover ~ label:before {
    opacity: 1 !important;
    color: #FFD700;
  }
  
  .rating input:checked ~ label:before {
    opacity: 1;
  }
  

@media (max-width: 600px) {
    main#main {
        padding: 10px;
    }

    main#main h1 {
        font-size: 1.8em;
    }

    main#main .detalle-img {
        max-width: 300px;
    }

    main#main p {
        font-size: 1em;
    }
    .filter-group{
        width: 205px;
    }
}
