/* Estilos generales */
.filter-container {
    display: flex;
    text-align: center;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 10px;
    max-width: 300px;
    margin: 20px;
    flex-direction: row;
    
}

.filter-title {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    color: #333;
}
.select-container {
    width: 200px; 
    max-width: 100%; 
}

.filter-group label {
    font-size: 0.9em;
    color: #555;
    
}

.filter-group input, .filter-group select {
    width: 200px;
    padding: 10px;
    margin: 3px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.custom-select {
    width: 100%; 
    font-size: 1em;
    padding: 0.5em;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
    appearance: none; 
}




.custom-select:focus {
    max-height: 8em; 
    overflow-y: auto;  
}


.filter-button {
    padding: 10px;
    background-color: var(--color-naranja-oscuro);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    
}

.filter-button:hover {
    background-color: #285e61;
}

aside{
    float: left;
    background-color: #333;
}


@media (max-width: 768px) {
    .filter-container {
        flex-direction: column;
        width: 100%;
    }

    .filter-title {
        font-size: 1.2em;
    }
    .filter-button{
        width: 200px;
    }
}
