

/*CRUD*/
table {
    margin: 0 0 0 5em;
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ffffff;
    padding: 8px;
    text-align: left;
    color: #ffffff;
}
th {
    background-color: hsl(256, 12%, 12%);
}



