{% extends 'layout.html' %}

{% block content %}
<main  class="login-container flexbox-col">
    <h1>añadir libro</h1>
    
    
    <form action="/agregarlibro" method="post" enctype="multipart/form-data">
        <label for=""></label>
        <input type="text" name="nombre_libro" placeholder="nombre del libro"class="input_field"><br>
        <input type="text" name="autor" placeholder="nombre del autor"class="input_field"><br>
        <input type="text" name="genero" placeholder="Genero del libro"class="input_field"><br>
        <input type="date" name="fecha_creacion" placeholder="fecha de salida"class="input_field"><br>
        <input type="number" name="stock" placeholder="stock"class="input_field"><br>
        <input type="number" name="precio" placeholder="precio"class="input_field"><br>
        <textarea name="descripcion" placeholder="descripcion"class="input_field"></textarea><br>
        <input type="file" name="imagen" placeholder="imagen"class="input_field" required><br>
        <button type="submit"class="btm_log">enviar</button>
    </form>
    </form>
    
</main>
    {% endblock %}