{% extends 'layout.html' %}

{% block content %}
<main class="login-container flexbox-col">
    <h1>Agregar nuevo autor</h1>
    
    <form action="/agregarautor" method="post">
        <label for="nombre_autor">Nombre del autor</label>
        <input type="text" name="nombre_autor" placeholder="Nombre" class="input_field" required><br>
        
        <label for="apellido_autor">Apellido del autor</label>
        <input type="text" name="apellido_autor" placeholder="Apellido" class="input_field"><br>
        
        <button type="submit" class="btn_log">Agregar autor</button>
    </form>
</main>
{% endblock %}
