{% extends 'layout.html' %}

{% block content %}
<button onclick="window.history.back()">volver</button>

<div class="container">
    <h1>Administrar Géneros</h1>

    <!-- Formulario para agregar un nuevo género -->
    <form action="{{ url_for('libros.agregar_genero') }}" method="post">
        <label for="nombre_genero">Nombre del género</label>
        <input type="text" name="nombre_genero" class="input_field" required>
        <button type="submit" class="btn_log">Agregar género</button>
    </form><br>
    <hr>

    <!-- Tabla para mostrar, editar y eliminar géneros existentes -->
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for genero in generos %}
            <tr>
                <!-- Formulario para editar un género -->
                <form action="{{ url_for('libros.editar_genero', id=genero.id) }}" method="post">
                    <td>
                        <input style="border-radius: 30px; width: 100%; height: 100%; background-color: #2a4b66; color: aliceblue;" type="text" name="nombre_genero" value="{{ genero.nombre }}" class="input_field" required>
                    </td>
                    <td>
                        <button type="submit" class="btn_log">Guardar</button>
                        <a href="{{ url_for('libros.eliminar_genero', id=genero.id) }}" class="btn_delete" onclick="return confirm('¿Estás seguro de eliminar este género?');">Eliminar</a>
                    </td>
                </form>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
