{% extends 'layout.html' %}

{% block content %}
<main id="main" class="flexbox-col">
    <h1>{{ libro.titulo }}</h1>
    <img src="{{ url_for('static', filename='img/' ~ libro.img) }}" alt="{{ libro.titulo }}" class="detalle-img">
    <p><strong>Autor:</strong> {{ libro.autor }}</p>
    <p><strong>Descripción:</strong> {{ libro.descripcion }}</p>
    <p><strong>Genero:</strong> ${{ libro.genero }}</p>
    <p><strong>Fecha de Emisión:</strong> {{ libro.fecha_emision }}</p>
    <p><strong>Stock:</strong> {{ libro.stock }}</p>
    <p><strong>Precio:</strong> ${{ libro.precio }}</p>

    <!-- Formulario para solicitar un préstamo -->
    <form action="{{ url_for('prestamos.solicitar_prestamo', libro_id=libro.id) }}" method="post">
        <label for="duracion">Duración del préstamo:</label>
        <select id="duracion" name="duracion">
            <option value="7">1 Semana</option>
            <option value="30">1 Mes</option>
        </select>
        <button type="submit">Solicitar Préstamo</button>
    </form>

    </form>

    <a href="{{ url_for('libros.libross') }}">Volver a la lista de libros</a>
</main>
{% endblock %}