{% extends 'layout.html' %}

{% block content %}
<body>
    <main class="login-container flexbox-col">
    <h1>Editar Libro</h1>
    <form action="{{ url_for('libros.editarlibro', id=libro.id) }}" method="POST" enctype="multipart/form-data">
        <label for="titulo">Título:</label>
        <input type="text" name="titulo" value="{{ libro.titulo }}" class="input_field" required><br>

     <!-- Autor (seleccionable con opción de agregar nuevo) -->
     <label for="autor">Autor *</label>
     <select name="autor" id="autor_select" class="input_field" required>
         <option value="" disabled >Selecciona un autor...</option>
         {% for autor in autores %}
         <option value="{{ autor.id }}">{{ autor.nombre }} {{ autor.apellido }}</option>
         {% endfor %}
         <option value="agregar">Agregar nuevo autor</option>
     </select><br>

     <!-- Género (seleccionable con opción de agregar nuevo) -->
     <label for="genero">Género *</label>
     <select name="genero" id="genero_select" class="input_field" required>
         <option value="" disabled >Selecciona un género...</option>
         {% for genero in generos %}
         <option value="{{ genero.id }}">{{ genero.nombre }}</option>
         {% endfor %}
         <option value="agregar">Agregar nuevo género</option>
     </select><br>

     <!-- Editorial (seleccionable con opción de agregar nuevo) -->
     <label for="editorial">Editorial *</label>
     <select name="editorial" id="editorial_select" class="input_field" required>
         <option value="sin editorial" disabled >Selecciona una editorial...</option>
         {% for editorial in editoriales %}
         <option value="{{ editorial.id }}">{{ editorial.nombre }}</option>
         {% endfor %}
         <option value="agregar">Agregar nueva editorial</option>
     </select><br>

        <label for="descripcion">Descripción:</label>
        <textarea name="descripcion"  class="input_field"required>{{ libro.descripcion }}</textarea><br>

        <label for="fecha_publicacion">Fecha de Publicación:</label>
        <input type="date" name="fecha_publicacion" class="input_field" value="{{ libro.fecha_emision if libro.fecha_emision else 'Fecha Desconocida'}}" ><br>

        <label for="stock">Stock:</label>
        <input class="input_field" type="number" name="stock" value="{{ libro.stock }}" required><br>

        <label for="precio">Precio:</label>
        <input class="input_field" type="number" step="0.01" name="precio" value="{{ libro.precio }}" class="input_field" required><br>

        <label for="precio_alquiler">Precio de Alquiler:</label>
        <input class="input_field" type="number" step="0.01" name="precio_alquiler" value="{{ libro.precio_alquiler }}" class="input_field"><br>

        <label for="isbn">ISBN:</label>
        <input class="input_field" type="text" name="isbn" value="{{ libro.isbn }}" ><br>

        <label for="idioma">Idioma:</label>
        <input class="input_field" type="text" name="idioma" value="{{ libro.idioma }}" ><br>

        <label for="edicion">Edición:</label>
        <input class="input_field" type="text" name="edicion" value="{{ libro.edicion }}" ><br>

        <label for="paginas">Número de Páginas:</label>
        <input class="input_field" type="number" name="paginas" value="{{ libro.paginas }}" ><br>

        <label for="formato">Formato:</label>
        <input class="input_field" type="text" name="formato" value="{{ libro.formato }}" ><br>

        <label for="imagen">Subir imagen:</label>
        <input class="input_field" type="file" name="imagen" id="imagen">
    
        <label for="imagen_url">O ingresar URL de la imagen:</label>
        <input type="url" name="imagen_url" id="imagen_url" placeholder="http://">

        <button type="submit">Actualizar Libro</button>
    </form>
</main>
</body>
</html>


</head>
<body>

<script>
    // Redireccionar al agregar nuevo autor, género o editorial
    document.getElementById('autor_select').addEventListener('change', function() {
        if (this.value === 'agregar') {
            window.location.href = '/agregarautor';  // Redirige a la ruta para agregar un autor
        }
    });

    document.getElementById('genero_select').addEventListener('change', function() {
        if (this.value === 'agregar') {
            window.location.href = '/agregargenero';  // Redirige a la ruta para agregar un género
        }
    });

    document.getElementById('editorial_select').addEventListener('change', function() {
        if (this.value === 'agregar') {
            window.location.href = '/agregareditorial';  // Redirige a la ruta para agregar una editorial
        }
    });
</script>
        
{% endblock %}