{% extends 'layout.html' %}

{% block content %}
<body>
    <div class="container">
    <h1>Editar Libro</h1>
    <form action="{{ url_for('libros.editarlibro', id=libro.id) }}" method="POST" enctype="multipart/form-data">
        <label for="titulo">Título:</label>
        <input type="search" name="titulo" value="{{ libro.titulo }}" class="input_field" required><br>

     <!-- Autor (seleccionable con opción de agregar nuevo) -->
     <label for="autor">Autor <strong style="color: orange;">*</strong></label>
     <select name="autor" id="autor_select" class="input_field" required>
         <option value="" disabled >Selecciona un autor...</option>
         {% for autor in autores %}
         <option value="{{ autor.id }}">{{ autor.nombre }} {{ autor.apellido }}</option>
         {% endfor %}
         <option style="background-color: rgb(26, 151, 57);" value="agregar">Agregar nuevo autor</option>
     </select><br>

     <!-- Género (seleccionable con opción de agregar nuevo) -->
     <label for="genero">Género <strong style="color: orange;">*</strong></label>
     <select name="genero" id="genero_select" class="input_field" required>
         <option value="" disabled >Selecciona un género...</option>
         {% for genero in generos %}
         <option value="{{ genero.id }}">{{ genero.nombre }}</option>
         {% endfor %}
         <option style="background-color: rgb(26, 151, 57);" value="agregar">Agregar nuevo género</option>
     </select><br>

     <!-- Editorial (seleccionable con opción de agregar nuevo) -->
     <label for="editorial">Editorial <strong style="color: orange;">*</strong></label>
     <select name="editorial" id="editorial_select" class="input_field" required>
         <option value="sin editorial" disabled >Selecciona una editorial...</option>
         {% for editorial in editoriales %}
         <option value="{{ editorial.id }}">{{ editorial.nombre }}</option>
         {% endfor %}
         <option style="background-color: rgb(26, 151, 57);" value="agregar">Agregar nueva editorial</option>
     </select><br>

        <label for="descripcion">Descripción:</label>
        <textarea name="descripcion"  class="input_field">{{ libro.descripcion }}</textarea><br>

        <label for="fecha_publicacion">Fecha de Publicación:</label>
        <input type="date" name="fecha_publicacion" class="input_field" value="{{ libro.fecha_emision if libro.fecha_emision else 'Fecha Desconocida'}}" ><br>

        <label for="stock">Stock:</label>
        <input class="input_field" type="number" name="stock" value="{{ libro.stock if libro.stock else 'Desconocido'}}" required><br>

        <label for="precio">Precio:</label>
        <input class="input_field" type="number" step="0.01" name="precio" value="{{ libro.precio }}" class="input_field" required><br>

        <label for="precio_alquiler">Precio de Alquiler:</label>
        <input class="input_field" type="number" step="0.01" name="precio_alquiler" value="{{ libro.precio_alquiler if libro.precio_alquiler else '0' }}" class="input_field"><br>

        <label for="isbn">ISBN:</label>
        <input class="input_field" type="text" name="isbn" value="{{ libro.isbn if libro.isbn else '' }}" ><br>

        <label for="idioma">Idioma</label>
        <select name="idioma" class="input_field" id="idioma" onchange="mostrarNumeroPaginas()">
            <option value="" disabled selected>Selecciona el idioma...</option>
            <option value="Español">Español</option>
            <option value="Inglés">Inglés</option>
            <option value="Italiano">Italiano</option>
            <option value="Alemán">Alemán</option>
            <option value="Francés">Francés</option>
            </select><br>

        <label for="edicion">Edición:</label>
        <input class="input_field" type="text" name="edicion" value="{{ libro.edicion if libro.edicion else 'Desconocido' }}" ><br>

        <div id="campo_paginas" style="display:block;">
            <label for="paginas">Número de páginas</label>
            <input type="number" name="paginas" placeholder="Número de páginas" class="input_field" value="0"> <br>
        </div>

         <!-- Formato (seleccionable) -->
         <label for="formato">Formato</label>
         <select name="formato" class="input_field" id="formato" onchange="mostrarNumeroPaginas()">
             <option value="Tapa dura">Tapa dura</option>
             <option value="Tapa blanda">Tapa blanda</option>
             <option value="eBook">eBook</option>
             <option value="Audiolibro">Audiolibro</option>
             <option value="Otro">Otro</option>
         </select><br>

        <label for="imagen">Subir imagen:</label>
        <input class="input_field" type="file" name="imagen" id="imagen" style="background-color: aliceblue;">
    
        <label for="imagen_url">O ingresar URL de la imagen:</label>
        <input type="url" name="imagen_url" id="imagen_url" placeholder="http://">

        <button type="submit">Actualizar Libro</button>
    </form>
</div>
</body>
</html>


</head>
<body>
<script>
    function mostrarNumeroPaginas() {
        // Obtener el valor seleccionado
        var formato = document.getElementById('formato').value;

        // Definir los formatos que requieren el campo de páginas
        var formatosConPaginas = ["Tapa dura", "Tapa blanda","eBook", "Otro"];

        // Mostrar u ocultar el campo según el formato seleccionado
        if (formatosConPaginas.includes(formato)) {
            document.getElementById('campo_paginas').style.display = 'block';
        } else {
            document.getElementById('campo_paginas').style.display = 'none';
        }
    }
</script>
<script>
    // Redireccionar al agregar nuevo autor, género o editorial
    document.getElementById('autor_select').addEventListener('change', function() {
        if (this.value === 'agregar') {
            window.location.href = '/agregarautor';  // Redirige a la ruta para agregar un autor
        }
    });

    document.getElementById('genero_select').addEventListener('change', function() {
        if (this.value === 'agregar') {
            window.location.href = '/agregargenero';  // Redirige a la ruta para agregar un género
        }
    });

    document.getElementById('editorial_select').addEventListener('change', function() {
        if (this.value === 'agregar') {
            window.location.href = '/agregareditorial';  // Redirige a la ruta para agregar una editorial
        }
    });
</script>
        
{% endblock %}