{% extends 'layout.html' %}

{% block content %}
    <!-- Formulario para filtrar libros -->
<div class="filter-container">
    <form action="{{ url_for('libros.libross') }}" method="GET">
        <!-- Filtro por Título -->
        <div class="filter-group">
            <input type="text" id="titulo" name="titulo" placeholder="Buscar título..." value="{{ request.args.get('titulo', '') }}">
        </div>

        <!-- Filtro por Autor -->
        <div class="filter-group">
            <select id="autor" name="autor">
                <option value="">Todos los autores</option>
                {% for autor in autores %}
                    <option value="{{ autor.nombre }}" {% if request.args.get('autor') == autor.nombre %}selected{% endif %}>
                        {{ autor.nombre }} {{ autor.apellido }}
                    </option>
                {% endfor %}
            </select>
        </div>

        <!-- Filtro por Editorial -->
        <div class="filter-group">
            <select id="editorial" name="editorial">
                <option value="">Todas las editoriales</option>
                {% for editorial in editoriales %}
                    <option value="{{ editorial.nombre }}" {% if request.args.get('editorial') == editorial.nombre %}selected{% endif %}>
                        {{ editorial.nombre }}
                    </option>
                {% endfor %}
            </select>
        </div>

        <!-- Filtro por Género -->
        <div class="filter-group">
            <select id="genero" name="genero">
                <option value="">Todos los géneros</option>
                {% for genero in generos %}
                    <option value="{{ genero.nombre }}" {% if request.args.get('genero') == genero.nombre %}selected{% endif %}>
                        {{ genero.nombre }}
                    </option>
                {% endfor %}
            </select>
        </div>

        <button type="submit" class="filter-button">Filtrar</button>
    </form>
</div>

<main id="main" class="flexbox-col">
    <h1>Libros</h1>
    <div class="flex-container">
        {% for libro in pagination.items %}
        <div class="card">
            <a href="{{ url_for('libros.detalle', libro_id=libro.id) }}" class="libro-link">
                <img src="{{ url_for('static', filename='img/' ~ libro.img) }}" alt="{{ libro.titulo }}" class="libro-img">
                <h2>{{ libro.titulo }}</h2>
                <p>Precio: ${{ libro.precio }}</p>
            </a>
        </div>
        {% endfor %}
    </div>

    <!-- Navegación de la paginación -->
        <ul class="pagination">
            {% if pagination.has_prev %}
            <li><a href="{{ url_for('libros.libross', page=pagination.prev_num) }}">Anterior</a></li>
            {% endif %}
            
            {% for page_num in pagination.iter_pages(left_edge=1, right_edge=1, left_current=2, right_current=2) %}
                {% if page_num %}
                    {% if page_num == pagination.page %}
                        <li class="active"><strong>{{ page_num }}</strong></li>
                    {% else %}
                        <li><a href="{{ url_for('libros.libross', page=page_num) }}">{{ page_num }}</a></li>
                    {% endif %}
                {% else %}
                    <li class="li">…</li>
                {% endif %}
            {% endfor %}

            {% if pagination.has_next %}
            <li><a href="{{ url_for('libros.libross', page=pagination.next_num) }}">Siguiente</a></li>
            {% endif %}
        </ul>
</main>

{% endblock %}
