{% extends 'layout.html' %}

{% block content %}

    
</head>
<body>
    <main id="main" class="flexbox-col">
        <h1>Lista de Libros</h1>
        
        <table>
        <thead>
            <tr>
                <th>Título</th>
                <th>Autor</th>
                <th>Descripción</th>
                <th>Fecha de Emisión</th>
                <th>Stock</th>
                <th>Precio</th>
                <th>Imagen</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for libro in libros %}
            <tr>
                <td>{{ libro.titulo }}</td>
                <td>{{ libro.autor }}</td>
                <td>{{ libro.descripcion }}</td>
                <td>{{ libro.fecha_emision }}</td>
                <td>{{ libro.stock }}</td>
                <td>${{ libro.precio }}</td>
                <td> <img style="height: 300px; width: 200px;" src=".\static\img\{{ libro.img }}" alt=""><br></td>
                <td>
                    <a href="{{ url_for('libros.eliminarlibro', id=libro.id) }}">Eliminar</a>
                    <a href="{{ url_for('libros.editarlibro', id=libro.id) }}">Editar</a>
                    
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{url_for('user.logout')}}">cerrar sesion</a>
    {% endblock %}
</main>
</body>
</html>
