{% extends 'layout.html' %}

{% block content %}
<!-- Formulario para filtrar libros -->
<div class="filter-container">
    <div class="filter-group">
        <form action="{{ url_for('libros.verlibro') }}" method="GET">
        <input type="text" id="titulo" name="titulo" placeholder="Buscar título...">
    </div>
    <div class="filter-group">
        <input type="text" id="autor" name="autor" placeholder="Buscar autor...">
    </div>

    <div class="filter-group">
        <select id="genero" name="genero">
            <option value="">Todos</option>
            {% for libro in query %}
            <option value="{{libro.genero}}">{{libro.genero}}</option>
            {% endfor %}

            <!-- Opciones de géneros -->
        </select>
    </div>
    
    <button type="submit" class="filter-button">Filtrar</button>
</div>
</form>
  
</head>
<body>
    <main id="main" class="flexbox-col">
        <h1>Lista de Libros</h1>
        
        <div class="container">
            <header>
                <h1>Lista de Libros</h1>
                <a href="{{url_for('libros.index')}}" class="btn agregar-btn">Agregar Libro</a>
            </header>
            <section class="book-list">
                {% for libro in pagination %}
                <div class="book-card">
                    <div class="book-details">
                        <div class="book-image">
                            <img src="{{ url_for('static', filename='img/' ~ libro.img) }}" alt="{{ libro.titulo }}">
                        </div>
                        <div class="book-info">
                            <h3>{{ libro.titulo }}</h3>
                            <p><strong>Autor:</strong> {{ libro.autor }}</p>
                            <p><strong>Género:</strong> {{ libro.genero }}</p>
                            <p><strong>Descripción:</strong> {{ libro.descripcion }}</p>
                            <p><strong>Fecha de Emisión:</strong> {{ libro.fecha_emision }}</p>
                            <p><strong>Stock:</strong> {{ libro.stock }}</p>
                            <p><strong>Precio:</strong> ${{ libro.precio }}</p>
                        </div>
                    </div>
                    <div class="book-actions">
                        <a href="{{ url_for('libros.editarlibro', id=libro.id) }}" class="btn edit-btn">Editar</a>
                        <a href="{{ url_for('libros.eliminarlibro', id=libro.id) }}" class="btn delete-btn">Eliminar</a>
                    </div>
                </div>
                {% endfor %}
            </section>
                <ul class="pagination">
                    {% if pagination.has_prev %}
                    <li><a href="{{ url_for('libros.verlibro', page=pagination.prev_num) }}">Anterior</a></li>
                    {% endif %}
                    
                    {% for page_num in pagination.iter_pages(left_edge=1, right_edge=1, left_current=2, right_current=2) %}
                        {% if page_num %}
                            {% if page_num == pagination.page %}
                                <li class="active"><strong>{{ page_num }}</strong></li>
                            {% else %}
                                <li><a href="{{ url_for('libros.verlibro', page=page_num) }}">{{ page_num }}</a></li>
                            {% endif %}
                        {% else %}
                            <li class="li">…</li>
                        {% endif %}
                    {% endfor %}
        
                    {% if pagination.has_next %}
                    <li><a href="{{ url_for('libros.verlibro', page=pagination.next_num) }}">Siguiente</a></li>
                    {% endif %}
                </ul>
                
                <!-- Paginación aquí -->
            

            </main>
            {% endblock %}
</body>
</html>
