{% extends 'layout.html' %}

{% block content %}

    <div class="filter-container animate-on-scroll">
        <form action="{{ url_for('libros.verlibro') }}" method="GET">
            <div class="filter-group">
                <input type="text" id="titulo" name="titulo" placeholder="Buscar título..." value="{{ request.args.get('titulo', '') }}">
            </div>
    
            <div class="filter-group">
                <select id="autor" name="autor">
                    <option value="">Todos los autores</option>
                    {% for autor in autores %}
                        <option value="{{ autor.nombre }}" >
                            {{ autor.nombre }} {{ autor.apellido }}
                        </option>
                    {% endfor %}
                </select>
            </div>
    
            <div class="filter-group">
                <select id="editorial" name="editorial">
                    <option value="">Todas las editoriales</option>
                    {% for editorial in editoriales %}
                        <option value="{{ editorial.nombre }}" >
                            {{ editorial.nombre }}
                        </option>
                    {% endfor %}
                </select>
            </div>
    
            <div class="filter-group">
                <select id="genero" name="genero">
                    <option value="">Todos los géneros</option>
                    {% for genero in generos %}
                        <option value="{{ genero.nombre }}" >
                            {{ genero.nombre }}
                        </option>
                    {% endfor %}
                </select>
            </div>
    
            <button type="submit" class="filter-button">Filtrar</button>
        </form>
    </div>
</form>
  
</head>
<body>
    <main id="main" class="flexbox-col">
        <h1>Lista de Libros</h1>
        
        <div class="container animate-on-scroll">
            <header>
                <h1>Lista de Libros</h1>
                <a href="{{url_for('libros.index')}}" class="btn agregar-btn">Agregar Libro</a>
            </header>
            <section class="book-list">
                {% for libro in pagination %}
                <div class="book-card" style="background-color: #2a4b66; box-shadow: none;">
                    <div class="book-details">
                        <div class="book-image">
                            <img src="{{ url_for('static', filename='img/' ~ libro.img) }}" alt="{{ libro.titulo }}" style="width:150px;height:200px;">

                        </div>
                        <div class="book-info">
                            <h2 style="color: aliceblue;">{{ libro.titulo }}</h2>
                            <p><strong>Autor:</strong> {{ libro.autor.nombre }} {{ libro.autor.apellido }}</p>
                            <p><strong>Género:</strong> {{ libro.genero.nombre }}</p>
                            <p><strong>Precio:</strong>${{ libro.precio }}</p>
                            <p><a href="{{ url_for('libros.detalle', libro_id=libro.id) }}">Ver Detalles</a></p>
                        </div>
                    </div>
                    <div class="book-actions">
                        <a href="{{ url_for('libros.editarlibro', id=libro.id) }}" class="btn edit-btn">Editar</a>
                        <a href="{{ url_for('libros.eliminarlibro', id=libro.id) }}" class="btn delete-btn">Eliminar</a>
                    </div>
                </div>
                {% endfor %}
            </section>
                <ul class="pagination animate-on-scroll">
                    {% if pagination.has_prev %}
                    <li><a href="{{ url_for('libros.verlibro', page=pagination.prev_num) }}">Anterior</a></li>
                    {% endif %}
                    
                    {% for page_num in pagination.iter_pages(left_edge=1, right_edge=1, left_current=2, right_current=2) %}
                        {% if page_num %}
                            {% if page_num == pagination.page %}
                                <li class="active"><strong>{{ page_num }}</strong></li>
                            {% else %}
                                <li><a href="{{ url_for('libros.verlibro', page=page_num) }}">{{ page_num }}</a></li>
                            {% endif %}
                        {% else %}
                            <li class="li">…</li>
                        {% endif %}
                    {% endfor %}
        
                    {% if pagination.has_next %}
                    <li><a href="{{ url_for('libros.verlibro', page=pagination.next_num) }}">Siguiente</a></li>
                    {% endif %}
                </ul>
                
                <!-- Paginación aquí -->
            

            </main>
            {% endblock %}
</body>
</html>
