{% extends 'layout.html' %}

{% block content %}
<header class="hero animate-on-scroll">
    <div class="hero-content">
        <h1 class="hero-title">Hola <strong style="color: var(--color-naranja-oscuro);">{{session.nombre}}</strong><br>Bienvenido a la Biblioteca Online</h1>
        <p class="hero-description">Descubre, explora y disfruta de nuestra colección de libros. Todo al alcance de un clic.</p>
        <a href="{{ url_for('libros.libross') }}" class="hero-btn">Explorar Libros</a>
    </div>
</header>
<div class="libros-mas-valorados animate-on-scroll">
    <h2>Libros más valorados</h2>
    <div class="libros-blog-container">
        {% for libro in libros_mas_valorados %}
        <div class="libro-blog-card animate-on-scroll">
            <div class="libro-img-container">
                <img class="imagen-card" src="{{ url_for('static', filename='img/' ~ libro.img) }}" alt="{{ libro.titulo }}">
            </div>
            <div class="libro-content">
                <h3>{{ libro.titulo }}</h3>
                <p class="descripcion">{{ libro.descripcion[:200] }}...</p>
                <p class="precio">Precio: ${{ libro.precio }}</p>
                <p class="calificacion">⭐ Promedio: {{ libro.promedio_estrellas | round(1) }}</p>
                <a href="{{ url_for('libros.detalle', libro_id=libro.id) }}" class="btn-leer-mas">Ver más</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
