<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tabla.css' ) }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css' ) }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css' ) }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/detalles.css' ) }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/paginacion.css' ) }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cards.css' ) }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/carousel.css' ) }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/filtro.css' ) }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css' ) }}">
    <!-- iconos -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=shopping_cart" />
    <title>Libreria Flask</title>
</head>
<body>
<!-- Navbar -->
<nav>
  <ul class="menu">
    <li class="logo"><a href="{{url_for('libros.bienvenida')}}"><strong style="color: #3e518b; font-size: 30px;">Libro</strong><strong style="color: #cf6f37; font-size: 30px;">Teca</strong></a></li>
    <li class="item"><a href="{{url_for('libros.bienvenida')}}">Inicio</a></li>
    <li class="item"><a href="{{url_for('libros.libross')}}">ver libros</a></li>
    <li class="item has-submenu">
      {% if session.get('rol') == 'admin' %}
      
      <a style="overflow: hidden;" tabindex="-1" >admin <i class="fas fa-bars">▼</i></a>
      
      <style>
        
      </style>
      <ul class="submenu" style="z-index: 3;">
        <li class="subitem"><a href="{{url_for('libros.verlibro')}}">manejar libros</a></li>
        <li class="subitem"><a href="{{url_for('prestamos.ver_todos_prestamos')}}">manejar ventas</a></li>
       
      </ul>
      {% endif %}
    </li>
    <!-- <li class="item has-submenu">
      <a tabindex="0">Plans</a>
      <ul class="submenu">
        <li class="subitem"><a href="#">Freelancer</a></li>
        <li class="subitem"><a href="#">Startup</a></li>
        <li class="subitem"><a href="#">Enterprise</a></li>
      </ul> -->
    </li>
    {% if "nombre" in session %}
    <li class="item"><a href="{{url_for('prestamos.listar_prestamos')}}"><span class="material-symbols-outlined">
      shopping_cart
      </span></a></li>
    {% endif %}

    {% if "nombre" in session %}
    <li class="item button"><a href="{{url_for('user.logout')}}" onclick="return confirm('¿Estás seguro de que deseas cerrar sesion?');">cerrar sesion</a>
    {% endif %}
    </li>
    {% if "nombre" not in session %}
    <li class="item button"><a href="{{url_for('user.index_login')}}">iniciar sesion</a></li>
    <li class="item button secondary"><a href="{{url_for('user.register')}}">Registrarse</a></li>
    {% endif %}
    <!-- <li class="toggle"><a href="#"><i class="fas fa-bars">▼</i></a></li> -->
    <li  class="toggle"><button id="boton-menu" class="fas fa-bars">
      <div></div>
      <div></div>
      <div></div>
    </button></li>
      
  </ul>
</nav>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
<!-- Main -->

<main id="main">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes style="position: sticky;">
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
    {% block content %}
    {% endblock %}
    <footer class="footer">
      <div class="footer-container">
          <div class="footer-section">
              <h4>Información</h4>
              <p>Esta es una librería online realizada con la unica intencion de aprender. <br> ninguno de los libros esta a la venta.</p>
              <p>Contáctanos: Libreria@example.com</p>
          </div>
          <div class="footer-section">
              <h4>Enlaces útiles</h4>
              <ul>
                  <li><a href="{{url_for('libros.bienvenida')}}">Inicio</a></li>
                  <li><a href="{{url_for('libros.libross')}}">Libros</a></li>
                  <li><a href="https://i.pinimg.com/564x/1c/7e/a8/1c7ea8a874fedb708bdf6116cd661ebe.jpg" target="_blank">Contacto</a></li>
                  <li><a href="{{url_for('libros.condiciones')}}" target="_blank">Términos y condiciones</a></li>
              </ul>
          </div>
          <div class="footer-section">
              <h4>Redes sociales</h4>
              <div class="social-icons">
                  <a href="https://i.pinimg.com/564x/25/bb/2a/25bb2a2c9c4f99cc3a23345d411c2766.jpg" target="_blank"><img src="{{ url_for('static', filename='imagen/twitter-alt.svg') }}" alt="Facebook"></a>
                  <a href="https://i.pinimg.com/564x/f7/21/d6/f721d64137a79d524ad8b5a5de788185.jpg" target="_blank"><img src="{{ url_for('static', filename='imagen/facebook.svg') }}" alt="Twitter"></a>
                  <a href="https://www.instagram.com/piquetnacho/" target="_blank"><img src="{{ url_for('static', filename='imagen/Instagram.svg') }}" alt="Instagram"></a>
                  
              </div>
          </div>
      </div>
      <div class="footer-bottom">
          <p>&copy; 2024 Librería. Todos los derechos reservados.</p>
      </div>
  </footer>
  
  </main>
</body>
</html>