<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tabla.css' ) }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css' ) }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css' ) }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/detalles.css' ) }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/paginacion.css' ) }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cards.css' ) }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/carousel.css' ) }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/filtro.css' ) }}">
    <title>Libreria Flask</title>
</head>
<body>
<!-- Navbar -->
<nav>
  <ul class="menu">
    <li class="logo"><a href="{{url_for('libros.bienvenida')}}">Biblioteca</a></li>
    <li class="item"><a href="{{url_for('libros.bienvenida')}}">Inicio</a></li>
    <li class="item"><a href="{{url_for('libros.libross')}}">ver libros</a></li>
    <li class="item has-submenu">
      {% if session.get('rol') == 'admin' %}
      <a tabindex="0">admin <i class="fas fa-bars">▼</i></a>
      <ul class="submenu">
        <li class="subitem"><a href="{{url_for('libros.verlibro')}}">manejar libros</a></li>
        <li class="subitem"><a href="{{url_for('prestamos.ver_todos_prestamos')}}">manejar ventas</a></li>
       
      </ul>
      {% endif %}
    </li>
    <!-- <li class="item has-submenu">
      <a tabindex="0">Plans</a>
      <ul class="submenu">
        <li class="subitem"><a href="#">Freelancer</a></li>
        <li class="subitem"><a href="#">Startup</a></li>
        <li class="subitem"><a href="#">Enterprise</a></li>
      </ul> -->
    </li>
    {% if "nombre" in session %}
    <li class="item"><a href="{{url_for('prestamos.listar_prestamos')}}">Carrito</a></li>
    {% endif %}

    {% if "nombre" in session %}
    <li class="item button"><a href="{{url_for('user.logout')}}">cerrar sesion</a>
    {% endif %}
    </li>
    {% if "nombre" not in session %}
    <li class="item button"><a href="{{url_for('user.index_login')}}">iniciar sesion</a></li>
    {% endif %}
    <li class="item button secondary"><a href="{{url_for('user.register')}}">Registrarse</a></li>
    <li class="toggle"><a href="#"><i class="fas fa-bars">▼</i></a></li>
  </ul>
</nav>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
<!-- Main -->

<main id="main">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
    {% block content %}
    {% endblock %}
    <h1>Footer</h1>
  </main>
</body>
</html>